vendor/
glide
build/

vendor
vendor/
vendor/*
vendor/**

_examples

cmd/glod/glod

_examples/simple/glod*
_examples/simple/simple*

_examples/advanced/glod*
_examples/advanced/advanced*

bin
bin/
bin/*
bin/**

dist
dist/
dist/*
dist/**

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.out

.env
.secret*

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.DS_STORE

*.exe
*.test
*.prof
lastupdate.tmp

.DS_Store
tags

!cmd/glod/cmd
!cmd/glod/cmd/*.go
!cmd/glod/cmd/glod.go
